@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

:root  {
  --background: 143.8 54% 95%;
  --foreground: 143.8 5% 7%;
  --card: 143.8 50% 90%;
  --card-foreground: 143.8 5% 10%;
  --popover: 143.8 54% 95%;
  --popover-foreground: 143.8 95% 7%;
  --primary: 143.8 61.2% 20.2%;
  --primary-foreground: 0 0% 100%;
  --secondary: 143.8 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 105.80000000000001 30% 85%;
  --muted-foreground: 143.8 5% 35%;
  --accent: 105.80000000000001 30% 80%;
  --accent-foreground: 143.8 5% 10%;
  --destructive: 0 54% 30%;
  --destructive-foreground: 143.8 5% 90%;
  --border: 143.8 30% 50%;
  --input: 143.8 30% 18%;
  --ring: 143.8 61.2% 20.2%;
  --radius: 0.5rem;
}
.dark  {
  --background: 143.8 50% 3%;
  --foreground: 143.8 5% 90%;
  --card: 143.8 50% 5%;
  --card-foreground: 143.8 5% 90%;
  --popover: 143.8 50% 5%;
  --popover-foreground: 143.8 5% 90%;
  --primary: 143.8 61.2% 20.2%;
  --primary-foreground: 0 0% 100%;
  --secondary: 143.8 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 105.80000000000001 30% 15%;
  --muted-foreground: 143.8 5% 60%;
  --accent: 105.80000000000001 30% 15%;
  --accent-foreground: 143.8 5% 90%;
  --destructive: 0 54% 30%;
  --destructive-foreground: 143.8 5% 90%;
  --border: 143.8 30% 15%;
  --input: 143.8 30% 18%;
  --ring: 143.8 61.2% 20.2%;
  --radius: 0.5rem;
}

}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply box-border bg-background text-foreground;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh; /* Fallback */
    min-height: 100dvh;
  }
  .h-screen {
    height: 100vh; /* Fallback */
    height: 100dvh;
  }
}
