

What steps need to be automated for automated deployment:


Already Automated:


Easy to automate:

(Both can be automated using helm)
- Instance Manager Deployment
- Dashboard Deployment
-

Ingress:
    -Need to automatically change all deployments to use the users domain
    (What if we used a single domain and created sub domains for each instance? example: instance1.rydersel.cloud and instance2.rydersel.cloud. We need to explore viability of this)
    -We then need to automate the tls process as much as possible




Domains that don't need to be automated:

registry.rydersel.cloud (We only need one registry running)

modules like doom.rydersel.cloud


Installation steps:

1. Install required dependencies (kubectl, helm)
2. Connect to k8 cluster via kubectl
3. Install and connect ingress manager to domain
4. Test that domain dns correctly points to the ingress manager
5. Deploy cert manager
6. Deploy Instance Manager
7. Run tests that instance manager is deployed correctly and has the right permissions
8. Deploy and configure database
9. Deploy database controller
10. Run tests for database and controller
11. Deploy dashboard -> Also have to walk user through github oauth setup
12. Install optional modules

